@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@700&display=swap');
.footer-heading{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
}
a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.footer-07 .menu{
    margin-bottom: 30px;
}
.footer-07 .menu a{
    color: rgba(255,255,255,.6);
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.ftco-footer-social li{
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}
.nav-link {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #f45151;
}
.u-align-center {
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
}
.u-shape-1 {
    height: 509px;
    margin-top: 148px;
    margin-bottom: 0;
    background-image: none;
    color: #111111;
    background-color: #fbb8b8;
}
.u-list {
    display: flex;
    flex-direction: column;
    max-width: 1033px;
    margin: -609px auto 3em;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
.u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 22px));
    min-height: 515px;
    grid-gap: 33px;
    display: grid;
}
.u-repeater-item {
    display: flex;
    position: relative;
}
.u-container-layout {
    border-radius: 20px !important;
    color: #111111;
    background-color: #fff;
    padding: 30px 25px;
    justify-content: flex-start;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 15%);
}
.u-image-1 {
    width: 147px;
    height: 147px;
    border-radius: 50%;
    border: 3px solid #fbb8b8;
    background-position: 50% 50%;
    margin: 69px auto 0;
}
.u-text-1 {
    font-style: normal;
    font-weight: 700;
    margin: 60px auto 0;
    color: #f45151 !important;
    font-size: 3.75rem;
    line-height: 1.1;
}
.u-text-2 {
    text-transform: none;
    letter-spacing: normal;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 40px auto 0;
}
.u-text-3 {
    font-size: 1.125rem;
    font-style: italic;
    margin: 0;
}
.u-text-4 {
    margin: 14px auto 0;
}
.mobile-nav-toggle {
    color: #1c3800;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}
@media (max-width: 991px){
.u-list-1 {
    width: 640px;
    margin-top: -1157px;
}
.u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    min-height: 1065px;
}
.menu-btn {
    display: flex!important;
}
.navbar ul {
    position: fixed;
    left:-100%;
    top: 90px;
    gap:0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.4s;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 15%);
}
   
.navbar ul.open{
    left: 0;
}
}


@media (max-width: 350px)
{
 .u-list-1 {
    width: 273px;
    margin-top: -1587px;
}
.container-l{
    flex-direction: column;
    justify-content: center;
}

}

@media (max-width: 767px){
.u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1317px;
}}
.checked {
    color: orange;
  }

  .menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    max-height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #f45151;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #f45151;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translate(-25px,-16px);
  }
  .menu-btn__burger::after {
    transform: translate(-25px,16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-75px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .product input{
    width: 50px;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 10px;
  }
  .product input:focus{
    outline: none;
  }
  .product .b-btn{
    background-color: coral;
    opacity: 1;
    height: 40px;
    padding: 13px 30px;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: 0.3s all;
  }